
    <!-- <p>home works!</p> -->
  <!-- using angular material -->

  <h1 appDirectiveHome1>custom directive</h1>
    <header>
<div><button class="but1" type="button" routerLink="">home</button>
    <button class="but" type="button" routerLink="/alex">detail_user</button>
    <button class="but" type="button" routerLink="/contact">contact_us</button></div>



</header>
<!-- directive is used to command or instruct the dom  -->

<h1 appDirec >custom directive in home</h1>
<!-- <h1 appDirectiveHome1   ~ >custom directive in home</h1> -->
<span (mouseover)="mouse()" >mouse events handle</span>

<br>
<input type="text">
<button (click)="eventbinding()">click me</button>

<!-- ternary operator used for style binding -->
<h1 [style.color]="condition?'red':'blue'">css effect using style binding</h1>


<!--  two way binding using ngmodel-->
<br>Name:- <input type="text" [(ngModel)]="text "><br>
your name is(using two way binding) :- {{text}}


<!-- switch case (directives) -->
<!-- <div [ngSwitch]="colours"> -->
<div ngSwitch={{colours}}>
    <h1 style="color:red"  *ngSwitchCase="'red'">red in colour using switch case</h1>
    <h1 style="color:blue" *ngSwitchCase="'blue'">blue in colour using switch case </h1>
    <h1 style="color:green" *ngSwitchCase="'green'">green in colour using switch case </h1>
</div>

<!-- ng for  -->


 

    <ol>
        <li *ngFor="let data of user">{{data}}</li>
    </ol>

    <table>
        <tr>
            <th>NAME</th>
            <th>Age</th>
        </tr>
        <tr *ngFor="let data of users">
            <td>{{data.name}}</td>
            <td>{{data.age}}</td>
        </tr>
    </table>
<br><br>
without using foreach loop/ <br>
Converting from lower case to uppercase:- {{capital}}


<hr>

<!-- pipes -->

<input #textinfo type="text" name="" placeholder="using ref">
<button (click)="getvalue(textinfo)" type="button" >click me</button> 



<!-- <h2>using built in pipe-  {{100|pii}}</h2> -->














