<p>alex works!</p>
<button class="but" type="button" routerLink="">home</button>
<button class="but" type="button" routerLink="/contact">contact_us</button>



<h1>{{hottle}}</h1>
<h1> numer of rooms - {{numberofrooms}}</h1>
<h1>rooms--</h1>
<h1 [innerText]="numberofrooms"></h1>  
<hr>

<div class="container">
    <button class="order-button" (click)="invaluecom()"  >orders</button>
    <div *ngIf="value; then thenblock else elseblock"></div>

    <ng-template #thenblock>
        <div> all are the iteam. which all are selected by you</div>
    </ng-template>

    <ng-template #elseblock>
        <div>yet to order !!</div>
    </ng-template>
</div>
<br><br><br><br>
    

    <!-- using push and splice -->
<h1>using push and splice method in ngfor loop</h1>
<input #insert  type="text" name="" placeholder="enter yout name">
  <button (click)="getthevalue(insert)">Add</button><br><br>
   <br> 

  
    <div>
        <table>
            <thead>
                <tr>
                    <th>user_detail</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let user of users ; index as i"> -->
                <tr *ngFor="let user of users ; let i =index">
                    <td>{{user}}</td>
                    <td><button (click)="removevalue(i)">remove</button></td>
                </tr>
            </tbody>
        </table>
    </div>
  

   









 






  
