<p>contact-us works!</p>
<button class="but" type="button" routerLink="">home</button>

<table>
    <thead>
        <tr>
            <th colspan="2">The table header</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>The table body/details</td>
            <td>with two columns/number</td>
            
        </tr>
        <tr>
            <td>The table body/details</td>
            <td>with two columns/number</td>
            
        </tr>
        <tr>
            <td>The table body/details</td>
            <td>with two columns/number</td>
            
        </tr>
        <tr>
            <td>The table body/details</td>
            <td>with two columns/number</td>
            
        </tr>
    </tbody>
</table>

<!-- 
<table>
    <th></th>
</table> -->

    <!-- <div *ngIf= 'show'>
        jaeiudijnoiie
    </div>  -->

<br><br><br>
//ternary operator
Oops you are  {{appstatus ? 'online':'offline'}} !
<br>
good morning {{yourname}}
<br>
your email Id is{{yourmail}}

<h1 appDirec >custom directives</h1>
